<section class="flex gap-x-4">
  <div class="[&>p]:mb-4 text-pretty">
    <p>
      Desarrollador web Fullstack de Colombia, Medellín. Inicie en la
      programación cuando tenia 15 años.
    </p>
    <p>
      Actualmente me encuentro en un continuo aprendizaje para cada vez brindar
      un mejor servicio y producto a clientes como Freelancer.
    </p>
    <p>
      Desde entonces disfruto creando experiencias webs para los usuarios y
      clientes.
    </p>
  </div>
</section>
