<footer
  class="rounded-lg shadow m-4 bg-black/5 dark:bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span
      class="text-sm sm:text-center text-yellow-800/90 dark:text-yellow-200/90"
    >
      © 2023 <a
        href="https://www.linkedin.com/in/alexander-perez-ruiz-578459262/"
        class="hover:underline"
        >Alexander Perez
      </a> Todos los derechos reservados
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0 justify-evenly lg:mx-4 px-4"
    >
      <li><a href="#" class="hover:underline me-4 md:mx-6">Sobre mí</a></li>
      <li class=""><a href="#contacto" class="hover:underline">Contacto</a></li>
      <li class="cursor-pointer md:mx-6">
        <a href="/assets/CV ALEXANDER PEREZ.pdf" download class="hover:underline">
          Descargar CV
        </a>
      </li>
    </ul>
  </div>
</footer>
